@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add base styles, as described here: https://v1.tailwindcss.com/docs/adding-base-styles */
@layer base {
  body {
    @apply leading-[normal] m-0 min-h-screen;
  }
}

/* Need this to make one-sided borders work, like on confirm-reservation page */
*,
::before,
::after {
  border-width: 0;
}

/* For Hamburger Drawer? */
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
